*{
    padding:0;
    margin:0
}
.position{
    position:absolute;
    top:30px;
    left:30px;
    /* right:0;
    bottom:0;
    margin:0; */
    /* background: orange; */
}
p{
    border:1px solid blue;
}